.params {
  div {
    display: flex;
    margin-bottom: 5px;
  }
  label {
    display: block;
  }
  input {
    margin-left: 15px;
    width: 40px;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}
