.game_field {
  margin: 10px auto;
  border-collapse: collapse;
  background: url("../../images/grass.jpg");
  &.fake {
    opacity: 0.5;
    .cell {
      cursor: default;
      &:hover {
        box-shadow: initial;
      }
    }
  }

  td {
    div {
      position: relative;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      width: 30px;
      height: 30px;
    }
  }
  .cell {
    border: 2px solid rgb(9, 33, 1);
    cursor: pointer;
    &:hover {
      box-shadow: inset -1px -1px 5px rgb(30, 42, 55);
    }
    &.bomb {
      background: url("../../images/poop.png") center no-repeat;
      background-size: cover;
    }
    &.isOpen {
      background-color: rgb(109, 195, 49);
      border: 2px solid rgb(29, 71, 3);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
      cursor: default;
      &:hover {
        box-shadow: initial;
      }
    }
  }
}
