* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 237, 177);
  font-family: cursive;
}
.field {
  position: relative;
  min-width: 330px;
  width: 90%;
  max-width: 900px;
  cursor: default;
  margin: 20px auto;
}

.button {
  font-family: cursive;
  transition: letter-spacing 0.3s;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  display: block;
  background-color: rgb(80, 182, 26);
  margin: 5px auto;
  color: #fff;
  padding: 4px;
  &:hover {
    letter-spacing: 2px;
  }
  &:disabled {
    opacity: 0.3;
    &:hover {
      letter-spacing: initial;
    }
  }
}

/* ************ */

.field_container {
  overflow-x: auto;
}
